@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
}
.footer {
  background-color: #6c56be;
  width: 100%;
  position: relative;
  color: #ffffff;
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  margin-top: 3rem;

}